// theme Color
.theme-color{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
    padding: 10px;
    position: fixed;
    top: 40%;
    right: 0;
    @include transition(0.5s);
    z-index: 9;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px 0px 0px 10px;
    transform: translateX(50px);
    button{
        width: 30px;
        height: 30px;
        border-radius: 10px;
        margin: 5px 0;
        &:nth-child(1){
            background-color: #006ea7;
        }
        &:nth-child(2){
            background-color: #840e0e;
        }
        &:nth-child(3){
            background-color: #0E77FF;
        }
        &:nth-child(4){
            background-color: #363636;
        }
    }
    .btn-setting{
        @include absoluteItem(50%, -40px, auto, -50%);
        background-color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 10px 0px 0px 10px;
        font-size: 20px;
        color: var(--mainColor);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        i{
            animation-name: spin;
            animation-duration: 4000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        @keyframes spin {
            from {
                transform:rotate(0deg);
            }
            to {
                transform:rotate(360deg);
            }
        }
    }
}

// Section Head
.title-info{
    position: relative;
    &::after{
        content: "";
        @include absoluteItem(50%, auto, -20px, -50%);
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 15px solid var(--mainColor);
        border-bottom: 10px solid transparent;
    }
    &::before{
        content: "";
        @include absoluteItem(50%, auto, -15px, -50%);
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-left: 7px solid var(--white);
        border-bottom: 4px solid transparent;
        z-index: 9;
    }
}

// Section Head
.section-head{
    height: 100vh;
    background-color: var(--mainColor);
    @include transition(0.5s);
    position: relative;
    width: 100%;
    // Section Header
    .header{
        position: sticky;
        top: 0;
        z-index: 999;
        .head-header{
            #logo{
                color: transparent;
                -webkit-text-stroke: 2px var(--white);
                position: relative;
                font-family: system-ui;
                &:before{
                    content: "Sh3wiZo";
                    text-align: center;
                    color: var(--mainColor);
                    animation: animate44 4s ease-in-out infinite;
                    @include absoluteItem(50%, 0, 0, -50%);
                }
            }
            @keyframes animate44 {
                0%,
                100% {
                    clip-path: polygon(
                    0% 45%,
                    16% 44%,
                    33% 50%,
                    54% 60%,
                    70% 61%,
                    84% 59%,
                    100% 52%,
                    100% 100%,
                    0% 100%
                    );
                }
                
                50% {
                    clip-path: polygon(
                    0% 60%,
                    15% 65%,
                    34% 66%,
                    51% 62%,
                    67% 50%,
                    84% 45%,
                    100% 46%,
                    100% 100%,
                    0% 100%
                    );
                }
            }
            ul{
                .active{
                    a{
                        color: var(--mainColor) !important;
                    }
                }
                .marker{
                    position: absolute;
                    height: 70px;
                    background: var(--white);
                    top: -28px;
                    border-radius: 0 0 10px 10px;
                    @include transition(0.5s);
                }
            }
            .btn-lang{
                border: 1px solid var(--mainColor);
                background-color: var(--white);
                width: 40px;
                height: 40px;
                border-radius: 5px;
                line-height: 40px;
                text-align: center;
            }
        }
    }
    // Section Wave
    .wave-section {
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
        background: #FFF;
        height: 20px;
        .wave {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background: url(../img/wave.png);
            background-size: 1000px 100px;
        }
        .wave1 {
            @include wave(30s, 1000, 0.8, 0s, 0, animate);
        }
        .wave2 {
            @include wave(15s, 999, 0.5, -5s, 10px, animate);
        }
        .wave3 {
            @include wave(5s, 998, 0.2, -3s, 15px, animate);
        }
        .wave4 {
            @include wave(15s, 997, 0.7, -5s, 20px, animate);
        }
        @keyframes animate {
            0% {
              background-position-x: 0;
            }
            100% {
              background-position-x: 1000px;
            }
        }
    }
    // Content View
    .content-view{
        width: 100%;
        position: relative;
        padding-top: 300px;
        .head-title{
            @include absoluteItem(50%, 0, 0, -50%);
            p{
                max-width: 400px
            }
        }
        .shape-anime{
            img{
                @include absoluteItem(50%, 0, 0, -50%);
                max-width: 500px;
                z-index: 99;
            }
            .shape {
                background: linear-gradient(45deg, var(--white) 0%, var(--white) 100%);
                animation: morph 4s ease-in-out infinite;
                border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
                height: 400px;
                @include transition(1s);
                width: 400px;
                z-index: 5;
                margin: auto;
                opacity: 0.1;
                @include absoluteItem(50%, 0, 0, -50%);
                @keyframes morph {
                    0% {
                        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
                        background: linear-gradient(45deg, var(--white) 0%, var(--white) 100%);
                    }
                    50% {
                        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
                        background: linear-gradient(45deg, var(--white) 0%, var(--white) 100%);
                    }
                    100% {
                        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
                        background: linear-gradient(45deg, var(--white) 0%, var(--white) 100%);
                    }
                }
            }
        }
    }
  
  
}

// Section About
.about-section{
    .block-about{
        position: relative;
        background-color: var(--white);
        padding: 50px 90px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px 0px 0px 10px;
        &::after{
            content: "";
            background: linear-gradient(-45deg, var(--mainColor), var(--mainColor), var(--mainColor), var(--white));
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
            @include absoluteItem(50%, auto, 0, -50%);
            width: 90%;
            height: 110%;
            border-radius: 10px;
            z-index: -1;
            opacity: 0.4;
        }
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        p{
            max-width: 350px;
        }
        ul{
            li{
                display: flex;
                align-items: center;
                span{
                    background-color: var(--mainColor);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 25px;
                    height: 25px;
                    margin-inline-end: 10px;
                    border-radius: 5px;
                    i{
                        color: var(--white);
                    }
                }
            }
        }
    }
    .img-about{
        img{
            max-width: 700px;
        }
    }
}

// Section Services
.services-section{
    background: linear-gradient(0deg, var(--mainColor), var(--white));
    .block-services{
        background-color: var(--white);
        border-radius: 10px;
        overflow: hidden;
        @include transition(0.5s);
        img{
            max-width: 70px;
        }
        h4, p{
            @include transition(0.5s);
        }
        &::after{
            content: "";
            @include absoluteItem(0, -100%, 0, 0);
            width: 0;
            height: 0;
            border-top: 314px solid var(--mainColor);
            border-right: 416px solid transparent;
            @include transition(0.5s);
            opacity: 0;
            visibility: hidden;
        }
        &::before{
            content: "";
            @include absoluteItem(0, 0, -100%, 0);
            width: 0;
            height: 0;
            border-bottom: 314px solid var(--mainColor);
            border-left: 416px solid transparent;
            @include transition(0.5s);
            opacity: 0;
            visibility: hidden;
        }
        &:hover{
            transform: scale(0.9);
            &::after, &::before{
                opacity: 1;
                visibility: initial;
            }
            &::after{
                left: 0;
            }
            &::before{
                right: 0;
            }
            h4, p{
                color: var(--white) !important;
            }
        }
    }
}

// Section Projects
.projects-section{
    .tab-filter{
        li{
            padding: 10px 20px;
            color: var(--mainColor);
            position: relative;
            overflow: hidden;
            @include transition(0.5s);
            cursor: pointer;
            &::after{
                content: "";
                background-color: var(--mainColor);
                position: absolute;
                width: 100%;
                height: 100%;
                right: 0;
                top: 100%;
                opacity: 0;
                visibility: hidden;
                @include transition(0.5s);
                z-index: -1;
            }
            &.mixitup-control-active{
                color: #FFF;
                &::after{
                    top: 0;
                    opacity: 1;
                    visibility: initial;
                }
            }
        }
    }
    .box-project{
        border: 1px solid #DDD;
        overflow: hidden;
        border-radius: 10px;
        @include transition(0.5s);
        img{
            width: 100%;
            height: 350px;
        }
        &:hover{
            transform: scale(0.9);
        }
    }
}