// Colors

:root{
    --mainColor             : #0E77FF;
    --shapeColor            : #68BAE5;
    --itemColor             : #E5F4FF;
    --bgCheck               : #E4FFF2;
    --colorCheck            : #4BFFA6;
    --bgCheck               : #E4FFF2;
    --white                 : #FFF;
    --black                 : #000000;
}