// Colors

:root{
    --mainColor             : #0E77FF;
    --secondColor           : #68BAE5;
    --colorCheck            : #4BFFA6;
    --white                 : #FFF;
    --black                 : #000000;
}