html[dir=ltr] {
    .theme-color{
        right: auto;
        left: 0;
    }
    .marker{
        left: 6px;
        width: 60px;
    }
}

html[dir=rtl] {
    .marker{
        left: 468px;
        width: 74px;
    }
}