html[dir=ltr] {
    .theme-color{
        right: auto;
        left: 0;
        transform: translateX(-50px);
        .btn-setting{
            @include positionItem(absolute, 50%, auto, -40px, translateY(-50%));
            border-radius: 0px 10px 10px 0px;
        }
    }
    .marker{
        left: 6px;
        width: 60px;
    }
    .theme-color, .block-about{
        border-radius: 0px 10px 10px 0px;
    }
    .title-info{
        position: relative;
        &::after{
            content: "";
            @include positionItem(absolute, 50%, -20px, auto, translateY(-50%));
            border-left: 0px solid var(--mainColor);
            border-right: 15px solid var(--mainColor);
        }
        &::before{
            content: "";
            @include positionItem(absolute, 50%, -15px, auto, translateY(-50%));
            border-left: 0px solid var(--white);
            border-right: 7px solid var(--white);
        }
    }
    .contact-section{
        .form-section{
            &::after{
                border-right: 825px solid transparent;
            }
        }
    }
    @media screen and (max-width: 990px){

        // Section Head
        .section-head{
            // Section Header
            .header{
                .head-header{
                    .head-links{
                        left: 0;
                        transform: translateX(-100%);
                    }
                }
            }
        }
    
    }
}

html[dir=rtl] {
    .marker{
        left: 475px;
        width: 74px;
    }
}