// Mixin

@mixin transition($time){
    transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -webkit-transition: all $time ease-in-out;
}

@mixin scrollContain{
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
}

@mixin positionItem($position, $top, $left, $right, $translate){
    position: $position;
    top: $top;
    transform: $translate;
    left: $left;
    right: $right;
    margin: auto;
}

@mixin wave($time, $index, $opacity, $delay, $bottom, $name){
    animation: $name $time linear infinite;
    -webkit-animation: $name $time linear infinite;
    z-index: $index;
    opacity: $opacity;
    animation-delay: $delay;
    bottom: $bottom;
}